html {

    background-color: paleturquoise;
}

#wrapper {
    
    width: 1000px;
    margin: auto;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: navy;
    background-color: turquoise;
}

.bodytxt p {

    padding-left: 25px;
}

h3 {

    padding-left: 20px;
    font-size: 1.2em;
    letter-spacing: .4em;
    font-style: italic;
}

h2 {

    padding-left: 15px;
    font-size: 1.4em;
    letter-spacing: .4em;
    font-style: italic;
}

h1 {

    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 2em;
    letter-spacing: .4em;
    font-style: italic;
    color: navy;
}

#author {

    font-family: 'Times New Roman', Times, serif;
}

img {

    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.image {

    margin-left: 50px;
}

section {

    padding: 15px;
}